#monitor.cfg
 
[sys]
 #monitor_type=local or remote, if the value is local, the ip/account/password are not useful
 monitor_type=remote
 ip:192.168.1.2
 account:root
 password:root123
 
[memory]
 command: top | head -5 |grep -i memory
 # interval unit second
 duration: 10
 
[cpu]
 command: sar 1 1 |tail -1
 interval: 10
